* {
    padding: 0;
    margin: 0;
}

body {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #272727;
    font-weight: 800;
}

p {
    line-height: 30px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background-color: #E55473;
    border: 1px solid #E55473;
    border-radius: 8px;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
}

/* Header Section */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    margin-bottom: 150px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header-content,
.header-img {
    width: 50%;
}

.header-content h1,
.header-content p {
    margin-bottom: 25px;
}

.header-content h1 {
    font-size: 60px;
}

.header-img img {
    width: 95%;
    padding-top: 50px;
    margin-bottom: -4px;
}